.map {
  width: 100vw;
  height: 100vh;
}

.mapFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1050;
}

.mapFooter .currentPositionInfo {
  background-color: gray;
}
